.wrapper h3 {
    font-size: 14px;
    font-weight: 400;
}

.wrapper ul {
    display: flex;
    gap: 10px;
    list-style: none;
}

.wrapper > div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}