# === Monorepo Root ===

# Node & package managers
node_modules/
.pnpm-debug.log*
npm-debug.log*
yarn-debug.log*

# Yarn
.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Next.js app
apps/demo/.next/
apps/demo/out/
apps/demo/.env*
apps/demo/.vercel
apps/demo/next-env.d.ts
apps/demo/*.tsbuildinfo

# General
*.pem
.DS_Store
coverage/
build/