.container {
    background: var(--filter-base-color);
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 5px;
}
.activeFilter {
    background: var(--CB0);
}
:global(.dark) .activeFilter {
    background: var(--CB4);
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
      /* define your internal icon‐color var, defaulting to the text color */
    --icon-color: var(--CB4);
    cursor: pointer;
}
:global(.dark) .header {
    --icon-color: var(--CB0);
}

.title {
    font-size: 14px;
    font-weight: 400;
}

.toggleButton {
  all: unset;               /* strip default button styles */
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  /* ensure the var is in scope for the icon */
  color: inherit;
}

.body {
    margin-top: 10px;
}
