.checkboxWrapper {
  display: flex;
  align-items: center;
  gap: 7px;
  cursor: pointer;
  user-select: none;
}

.checkbox {
  width: 18px;
  height: 18px;
  border-radius: var(--radius);
  background: var(--lv2);
  appearance: none;
  position: relative;
  cursor: pointer;
}

.checkbox:not(:disabled):hover {
  background-color: var(--lv3);
}

.checkbox:checked {
  background-color: var(--lv3);
}

.checkbox:checked::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 12px;
  height: 12px;
  border-radius: var(--radius);
  background-color: var(--lv8);
}

.label {
  font: var(--text-sm);
  color: var(--lv7);
}
.score {
  font: var(--text-micro);
  color: var(--lv4);
}

/* DISABLED */
.disabled {
  cursor: not-allowed;
}

.checkbox:disabled {
  opacity: 0.5;
  pointer-events: none;
}

/* Disabled label */
.disabled .label,
.disabled .score {
  opacity: 0.5;
}
