.wrapper {
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.label {
	font: var(--text-small);
	color: var(--text-color);
}

.inputContainer {
	position: relative;
	display: flex;
	align-items: center; /* ✅ vertical alignment */
	gap: 8px;
}

.input {
	font-family: var(--font-px);
	width: 100%;
	border-radius: 8px;
	border: none;
	color: #1e1e1e;
	box-sizing: border-box;
	transition: background-color 0.2s;
	caret-color: blue;
	background-color: rgba(0, 0, 0, 0.03);
}

:global(.dark) .input {
	color: white;
	background-color: rgba(255, 255, 255, 0.05);
	caret-color: var(--CB2);
}


.input[type="search"] {
	-webkit-appearance: none;
}

.input:focus {
	outline: none;
	background: var(--CSuperLightGray);
	color: var(--CB4);
}

:global(.dark) .input:focus {
	color: #AAAAFF;
	background-color: rgba(0,0,0, 0.2);
}



.input::placeholder {
	opacity: 0.3;
	color: black;
	transition: opacity 0.2s;
	padding-left: 40px;
}

:global(.dark) .input::placeholder {
	color: white;
}

.searchIcon {
	--search-icon-color: rgba(0,0,0,0.3);
	position: absolute;
	display: flex;
	align-items: center;
	height: 100%;
	color: var(--search-icon-color); /* use CSS variable */
	pointer-events: none;
}
:global(.dark) .searchIcon {
	--search-icon-color: rgba(255,255,255,0.3);
}

.rightContent {
	position: absolute;
	right: 5px;
	height: 100%;
	display: flex;
	align-items: center;
	align-content: center;
	gap: 10px;
}

/* Sizes */
.micro .input {
  font: var(--text-micro);
  height: 30px;
  padding: 0 13px 0 13px !important;
}
.micro .searchIcon {
	left: 13px;
}
.micro .input::placeholder {
	padding-left: 18px;
}

.default .input {
  font: var(--text-medium);
  height: 50px;
  padding: 0 22px 0 22px !important;
}
.default .searchIcon {
	left: 22px;
}
.default .input::placeholder {
	padding-left: 30px;
}
.large .input {
  font-size: 24px;
  font-weight: 300;
  height: 80px;
  padding: 0 26px 0 26px !important;
}
.large .searchIcon {
	left: 26px;
}
.large .input::placeholder {
	padding-left: 40px;
}

/* States */

.filtered .input {
	background-color: var(--CB0);
}
:global(.dark) .filtered .input {
	background-color: var(--CB4);
}

.input:focus::placeholder {
	opacity: 0;
}

.input::selection {
	background: var(--CB2);
}

:global(.dark) .input::selection {
	background: var(--CB3);
}

.input:disabled {
	opacity: 0.6;
	cursor: not-allowed;
}

.error {
	border-color: var(--CSignal);
}

.errorText {
	font: var(--text-micro);
	color: var(--CSignal);
}

.focus {
  border: 1px solid var(--highlight-color);
  outline: none;
}
.input.focus {
  border-color: var(--highlight-color);
  box-shadow: 0 0 0 2px var(--highlight-color);
}