.basetrack {
    position: relative;
    height: 5px;
    width: 100%;
    border-radius: 1px;
}

.basetrack::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../../assets/images/pattern.png');
    background-repeat: repeat;
    background-size: 2px 2px;
    border-radius: 1px;
    opacity: 0.5;
    pointer-events: none;
    z-index: 0;
}

:global(.dark) .basetrack::before {
    background-image: url('../../assets/images/pattern-dark.png');
}
.selectedtrack {
    position: absolute;
    height: 100%;
    background-color: var(--lv5);
    pointer-events: none;
    border-radius: 1px;
}
.livetrack {
    position: absolute;
    height: 100%;
    pointer-events: none;
    border-radius: 1px;
}
.livetrackFaceted {
  /* background-color: var(--CB3); */
  background-color: var(--lv5);
}
/* :global(.dark) .livetrackFaceted {
  background-color: var(--CTeal);
} */
.livetrackDefault {
  background-color: var(--lv5);
}
.thumbs {
  height: 18px;
  width: 24px;
  border-radius: 1px;
  background-color: var(--lv7);
  cursor: grab;
  outline: none;
}

.thumbs:focus {
  outline: none;
}

.thumbs.disabled {
  background-color: var(--lv5);
  cursor: not-allowed;
}