:root {
  --slider-bg: var(--CLightGray);
  --slider-selected: var(--CGray);
  --slider-live-default: var(--CB6);
  --slider-live-faceted: var(--CB3);
  --slider-thumb-border: var(--CB6);
  --slider-thumb-bg: #fff;
  --slider-thumb-disabled-bg: var(--CGray);
}
:global(.dark) {
	--slider-bg: var(--CDarkGray);
	--slider-selected: var(--CBlueGray);
	--slider-live-default: var(--CB0);
	--slider-live-faceted: var(--CTeal);
	--slider-thumb-border: var(--CB0);
	--slider-thumb-bg: var(--CB6);
	--slider-thumb-disabled-bg: var(--CGray);
}
.basetrack {
    position: relative;
    height: 4px;
    width: 100%;
    background-color: var(--slider-bg);
    border-radius: 4px;
}
.selectedtrack {
    position: absolute;
    height: 100%;
    background-color: var(--slider-selected);
    pointer-events: none;
    border-radius: 4px;
}
.livetrack {
    position: absolute;
    height: 100%;
    pointer-events: none;
    border-radius: 4px;
}
.livetrackFaceted {
  background-color: var(--slider-live-faceted);
}
.livetrackDefault {
  background-color: var(--slider-live-default);
}
.thumbs {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  border: 3px solid var(--slider-thumb-border);
  background-color: var(--slider-thumb-bg);
  cursor: grab;
  transition: background-color 0.3s ease;
}

.thumbs.disabled {
  background-color: var(--slider-thumb-disabled-bg);
  cursor: not-allowed;
}