:root {

  --spacing: 5px;
  --radius: 1px;

  --lv0: #FFFFFF;
  --lv1: #FBFBFB;
  --lv2: #EFEFEF;
  --lv3: #CFCFCF;
  --lv4: #757575;
  --lv5: #4A4A50;
  --lv6: #1A1A21;
  --lv7: #121215;
  --lv8: #080809;

  --CSignal: #FF4238;
  --CTeal: #72F5C6;
  --CPureBlue: #0000ff;

  /* TEXT */
  --text-2xs: 350 10px/1 'FunktionalGrotesk', sans-serif;
  --text-xs: 350 11px/1 'FunktionalGrotesk', sans-serif;
  --text-sm: 350 13px/1 'FunktionalGrotesk', sans-serif;
  --text-base: 350 15px/1 'FunktionalGrotesk', sans-serif;
  --text-lg: 350 17px/1 'FunktionalGrotesk', sans-serif;
  --text-xl: 350 19px/1 'FunktionalGrotesk', sans-serif;
  --text-2xl: 350 24px/1 'FunktionalGrotesk', sans-serif;
  --text-3xl: 350 30px/1 'FunktionalGrotesk', sans-serif;
  --text-4xl: 350 36px/1 'FunktionalGrotesk', sans-serif;
}

/* Dark mode via system preference (automatic) */
@media (prefers-color-scheme: dark) {
  :root {
    --lv0: #080809;
    --lv1: #121215;
    --lv2: #1A1A21;
    --lv3: #393941;
    --lv4: #565661;
    --lv5: #8F8F97;
    --lv6: #EFEFEF;
    --lv7: #FBFBFB;
    --lv8: #FFFFFF;
  }
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Light */
@font-face {
  font-family: 'FunktionalGrotesk';
  src: url('../assets/fonts/FunktionalGrotesk-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  descent-override: 10%;
}
@font-face {
  font-family: 'FunktionalGrotesk';
  src: url('../assets/fonts/FunktionalGrotesk-LightItalic.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
  descent-override: 10%;
}

/* Book */
@font-face {
  font-family: 'FunktionalGrotesk';
  src: url('../assets/fonts/FunktionalGrotesk-Book.woff2') format('woff2');
  font-weight: 350;
  font-style: normal;
  font-display: swap;
  descent-override: 10%;
}
@font-face {
  font-family: 'FunktionalGrotesk';
  src: url('../assets/fonts/FunktionalGrotesk-BookItalic.woff2') format('woff2');
  font-weight: 350;
  font-style: italic;
  font-display: swap;
  descent-override: 10%;
}

/* Regular */
@font-face {
  font-family: 'FunktionalGrotesk';
  src: url('../assets/fonts/FunktionalGrotesk-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  descent-override: 10%;
}
@font-face {
  font-family: 'FunktionalGrotesk';
  src: url('../assets/fonts/FunktionalGrotesk-RegularItalic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  descent-override: 10%;
}

/* Medium */
@font-face {
  font-family: 'FunktionalGrotesk';
  src: url('../assets/fonts/FunktionalGrotesk-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  descent-override: 10%;
}
@font-face {
  font-family: 'FunktionalGrotesk';
  src: url('../assets/fonts/FunktionalGrotesk-MediumItalic.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
  descent-override: 10%;
}

/* Semibold */
@font-face {
  font-family: 'FunktionalGrotesk';
  src: url('../assets/fonts/FunktionalGrotesk-Semibold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  descent-override: 10%;
}
@font-face {
  font-family: 'FunktionalGrotesk';
  src: url('../assets/fonts/FunktionalGrotesk-SemiboldItalic.woff2') format('woff2');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
  descent-override: 10%;
}

/* Bold */
@font-face {
  font-family: 'FunktionalGrotesk';
  src: url('../assets/fonts/FunktionalGrotesk-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  descent-override: 10%;
}
@font-face {
  font-family: 'FunktionalGrotesk';
  src: url('../assets/fonts/FunktionalGrotesk-BoldItalic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  descent-override: 10%;
}
