.radioWrapper {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  gap: 8px;
}

.radioInput {
  display: none;
}

.customRadio {
  width: 18px;
  height: 18px;
  border: 1px solid var(--CGray);
  border-radius: 50%;
  position: relative;
  box-sizing: border-box;
  transition: border-color 0.2s, background-color 0.2s;
  background-color: transparent;
}
:global(.dark) .customRadio {
    border: 1px solid var(--CBlueGray);
}

.radioInput:checked + .customRadio {
  background-color: var(--CB6);
  border: 5px solid var(--CB6);
}
:global(.dark) .radioInput:checked + .customRadio {
  background-color: var(--CB3);
  border: 5px solid var(--CB3);
}

.radioInput:checked + .customRadio::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 8px;
  height: 8px;
  background-color: white;
  border-radius: 50%;
}
:global(.dark) .radioInput:checked + .customRadio::after {
  background-color: var(--CB1);
}

.labelText {
  font: var(--text-small);
  color: var(--CB6);
}
:global(.dark) .labelText {
  color: var(--CB1);
}

.disabled {
  cursor: not-allowed;
  opacity: 0.6;
}
