.radioWrapper {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  gap: 7px;
}

.radioInput {
  display: none;
}

.customRadio {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: var(--lv2);
  appearance: none;
  position: relative;
  cursor: pointer;
}

.radioInput:not(:disabled):not(:checked) + .customRadio:hover {
  background-color: var(--lv3);
}

.radioInput:checked + .customRadio {
  background-color: var(--lv3);
}

.radioInput:checked + .customRadio::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--lv8);
}

.labelText {
  font: var(--text-sm);
  color: var(--lv7);
  transform: translateY(1.5px);
}

/* DISABLED */
.disabled {
  cursor: not-allowed;
}

.radioInput:disabled + .customRadio {
  opacity: 0.5;
  pointer-events: none;
}

.disabled .labelText {
  opacity: 0.5;
}
