.container {
    border-radius: 13px;
    height: 100%;
}
.default {
    background: var(--base-color);
    box-shadow: var(--base-shadow);
    padding: 15px;
}
.outlined {
    padding: 5px;
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid var(--CGray);
    backdrop-filter: blur(10px);
}
:global(.dark) .outlined {
    background: rgba(18, 18, 21, 0.5);
    border: 1px solid var(--CDarkGray);
}
